In [1]:
import pandas as pd
from sqlalchemy import create_engine
from time import time

In [2]:
pd.__version__

'1.5.2'

Data to download would be from:
https://www.nyc.gov/site/tlc/about/tlc-trip-record-data.page

2021 january yellow taxi trip records. But now they are in PARQUET format, while we require the CSV format.

So instead we can download the data from: https://github.com/DataTalksClub/nyc-tlc-data
https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz

In [3]:
! ls *csv

taxi+_zone_lookup.csv  yellow.csv  yellow_tripdata_2021-01.csv

Explanation of the fields:

https://www.nyc.gov/assets/tlc/downloads/pdf/data_dictionary_trip_records_yellow.pdf

In [4]:
df = pd.read_csv("yellow_tripdata_2021-01.csv", nrows=100)

In [5]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [6]:
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

In [7]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [8]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data',con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [10]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [11]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000, low_memory=False)

In [12]:
while True: 
    t_start = time()

    try:
        df = next(df_iter)

        df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
        df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
        df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    except StopIteration as e:
        print("StopIteration error handled successfully")
        break

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 8.362 second
inserted another chunk, took 8.272 second
inserted another chunk, took 8.193 second
inserted another chunk, took 8.002 second
inserted another chunk, took 8.003 second
inserted another chunk, took 8.136 second
inserted another chunk, took 8.047 second
inserted another chunk, took 8.187 second
inserted another chunk, took 8.171 second
inserted another chunk, took 8.051 second
inserted another chunk, took 8.226 second
inserted another chunk, took 8.096 second
inserted another chunk, took 8.016 second
inserted another chunk, took 5.222 second
StopIteration error handled successfully

### ZONES

In [9]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [10]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265